.gitignore 
### on met .gitignore en 1er pour qu'il s'ignore lui même ###

### ici on note le nom des fichier et de dossier que l'on veut ignorer avant de pushé ###
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
symfony.exe
###< symfony/framework-bundle ###
