{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Annonce supprimer {% endblock %}

{% block body %}

    <section>
        <p>Les catégories de l'annonce on bien été supprimer</p>
    </section>

{% endblock body %}