{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <h2>Bienvenue a l'accueil</h2>

        <div>
            <p>Bonjour {{ name | capitalize }}</p>
        </div>
    </section>

{% endblock body %}